/* ███████╗████████╗██╗   ██╗██╗     ███████╗    ██████╗███████╗███████╗ */
/* ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝   ██╔════╝██╔════╝██╔════╝ */
/* ███████╗   ██║    ╚████╔╝ ██║     █████╗     ██║     ███████╗███████╗ */
/* ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝     ██║     ╚════██║╚════██║ */
/* ███████║   ██║      ██║   ███████╗███████╗██╗╚██████╗███████║███████║ */
/* ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚═╝ ╚═════╝╚══════╝╚══════╝ */

						  /*Franklin Souza*/
							  /*@ffranksz*/

/* Keyframes */

@keyframes blink-critical {
	to {
		background-color: @critical;
	}
}

/* Styles */

/* Colors (Gruvbox original) */
@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#B16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#FABD2F;
@define-color brblue	#83a598;
@define-color brpurple	#D3869B;
@define-color braqua	#8ec07c;
@define-color white	#EBDBB2;
@define-color bg2	#504945;
@define-color bg1   #282828;
@define-color fg 	#030B17;

/* Category-based colors */
@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color mode	@black;
@define-color unfocused	@bg2;
@define-color focused	@braqua;
@define-color inactive	@purple;
@define-color sound	@brpurple;
@define-color network	@purple;
@define-color check_updates	@purple;
@define-color memory	@braqua;
@define-color cpu	@green;
@define-color temp	@brgreen;
@define-color layout	@bryellow;
@define-color battery	@aqua;
@define-color colorpicker	@aqua;
@define-color screenshot	@aqua;
@define-color mic_status	@aqua;
@define-color recorder	@aqua;
@define-color date	@black;
@define-color time	@white;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: #282828;
	color: @white;
	font-family: JetBrains Mono, Siji;
	font-size: 10pt;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris
#custom-recorder
#custom-mic_status
#custom-screenshot
#custom-check_updates {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Critical modules animation */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Warning modules */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* Modules order & styles */

#mode {
	color: @white;
	background: @mode;
}

#workspaces button {
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @bg1;
}

#workspaces button.visible {
	color: @white;
	background: @inactive;
}

#workspaces button.focused {
	color: white;
	background: @purple;
}

#workspaces button.urgent {
	color: @black;
	background: @warning;
}

#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	background: @sound;
	color: @black;
}

#network {
	background: @network;
	color: @white;
}

#memory {
	background: @memory;
	color: @black;
}

#cpu {
	background: @cpu;
	color: @black;
}

#temperature {
	background: @temp;
	color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#battery {
	background: @battery;
	color: @white;
}

#custom-check_updates {
	background: @check_updates;
	color: @black;
}

#custom-colorpicker {
	background: @colorpicker;
	color: @black;
}

#custom-screenshot {
	background: @screenshot;
	color: @black;
}

#custom-mic_status {
	background: @mic_status;
	color: @black;
}

#custom-recorder {
	background: @recorder;
	color: @black;
}

#tray {
	background: @bg1;
}

#clock.date {
	background: @bg1;
	color: @white;
}

#clock.time {
	background: @white;
	color: @black;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @time;
	background: @bg1;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @bg1;
	background: @layout;
}

#custom-power {
    padding-right: 5px;
    background-color: rgba(200, 0, 0, 0.8);
}

#group-power {
    margin-right: 15px;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @layout;
	background: @colorpicker;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @colorpicker;
	background: @temp;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 11pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 11pt;
	color: @network;
	background: @sound;
}

#custom-arrow9 {
	font-size: 11pt;
	color: @sound;
	background: transparent;
}

#custom-arrow10 {
	font-size: 11pt;
	color: @unfocused;
	background: transparent;
}

#custom-powermenu{
	color: #fb4934;
	background: transparent;
	font-size: 11pt;
}

