window {
  margin: 0px;
  border: 1px solid #504945; /* bg2 */
  background-color: #282828; /* bg0 */
}

#input {
  margin: 5px;
  border: none;
  color: #ebdbb2; /* fg0 */
  background-color: #3c3836; /* bg1 */
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282828; /* bg0 */
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282828; /* bg0 */
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2; /* fg0 */
}

#entry:selected {
  background-color: #504945; /* bg2 */
}

